<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset='utf-8' />
  <title>Plantilla</title>
</head>

<body>
  <header th:fragment="header">
    <h1 th:text="#{template.main.title}"></h1>
  </header>

  <footer th:fragment="footer">
    <div>
      <br />
      <a th:href="@{/(lang=es)}">ES</a> |
      <a th:href="@{/(lang=en)}">EN</a>
    </div>
    <span> [[#{template.footer}]] <a href="http://google.com" target="_blank">Global Mentoring</a> </span>

  </footer>
</body>

</html>