<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>[[#{title.person.info}]]

  </title>
  <meta charset="UTF-8">
</head>

<body>
  <header th:replace="layout/plantilla :: header" />

  <h2>[[#{title.person.info}]]</h2>
  <a th:href="@{/}">[[#{button.return}]]</a>
  <br />

  <form th:action="@{/guardar}" method="post" th:object="${persona}">
    <input type="hidden" name="idPersona" th:field="*{idPersona}" />

    <label for="nombre">[[#{title.name}]]</label>
    <input type="text" name="nombre" th:field="*{nombre}" />
    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
    <br /><br /><br />

    <label for="apellido">[[#{title.lastname}]]</label>
    <input type="text" name="apellido" th:field="*{apellido}" />
    <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
    <br /><br /><br />

    <label for="email">[[#{title.email}]]</label>
    <input type="text" name="email" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br /><br /><br />

    <label for="telefono">[[#{title.phone}]]</label>
    <input type="tel" name="telefono" th:field="*{telefono}" />
    <br /><br /><br />

    <input type="submit" name="guardar" th:value="#{button.save}" />



  </form>

  <footer th:replace="layout/plantilla :: footer" />
</body>

</html>